<div class="user-details">
  <h1> Tournament Details </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>When?</h2>
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
      <!--<i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>-->
      <h3>Februrary 5th, 2022</h3>
      <p>Division B: 8:00am - 2:50pm (In-Person)</p>
      <p>Division C: 7:00am - 11:50pm (In-Person)</p>
      <h3>Februrary 6th, 2022</h3>
      <p>Division C: 8:00am - 9:50am (virtual)</p>
    </div>
    <!--
    <div class="tech">
      <h2>Divisions</h2>
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>[Div B (open vs bmore) and Div C]</p>
    </div> -->
    <div class="tech">
      <h2>Format</h2>
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
      <!--<i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>-->
      <h3>Division B</h2>
        <p>Currently In-Person</p>
      <h3>Division C</h3>
        <p>Day 1: In-Person</p>
        <p>Day 2: Virtual</p>
    </div>
</div>

