<div class="user-details">
  <h1> Meet the Board </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Tournament Directors </h3>
    <ul>
      <li> Adam Luo</li>
      <li> Bethany Kemp</li>
      <li> Connie Chang-Chien</li>
      <li> Daniel Mousavi</li>
    </ul>
    <p>We can add whatever comments we want here.We can add whatever comments we want here.We can add whatever comments we want here.We can add whatever comments we want here.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Event Coodinators </h3>
    <ul>
      <li> Alain Phung</li>
      <li> Farid Shahid</li>
      <li> Julia Zacharski</li>
      <li> Meera Bhat</li>
      <li> Sayantika Roy</li>
    </ul>
    <p>We can add whatever comments we want here.We can add whatever comments we want here.We can add whatever comments we want here.We can add whatever comments we want here.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Technology Coordinators </h3>
    <ul>
      <li> Joshua Zhou</li>
      <li> Taylor Blanco</li>
    </ul>
    <p>We can add whatever comments we want here.We can add whatever comments we want here.We can add whatever comments we want here.We can add whatever comments we want here.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Teams Coordinators </h3>
    <ul>
      <li> Kaitlyn Cortez</li>
      <li> Siyona Mishra</li>
    </ul>
    <p>We can add whatever comments we want here.We can add whatever comments we want here.We can add whatever comments we want here.We can add whatever comments we want here.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Volunteer Coordinators </h3>
    <ul>
      <li> Aashna Iragamreddy</li>
      <li> Daniel Moon</li>
    </ul>
    <p>We can add whatever comments we want here.We can add whatever comments we want here.We can add whatever comments we want here.We can add whatever comments we want here.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
