<div class="user-details">
  <h1> Meet the Board </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Tournament Directors </h3>
    <ul>
      <li> Adam Luo</li>
      <li> Bethany Kemp</li>
      <li> Connie Chang-Chien</li>
      <li> Daniel Mousavi</li>
    </ul>
    <p>We can add whatever comments we want here</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Event Coodinators </h3>
    <ul>
      <li> EC1</li>
      <li> EC2</li>
      <li> EC3</li>
      <li> EC4</li>
      <li> EC5</li>
    </ul>
    <p>We can add whatever comments we want here</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Technology Coordinators </h3>
    <ul>
      <li> TechC1</li>
      <li> TechC2</li>
    </ul>
    <p>We can add whatever comments we want here</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Teams Coordinators </h3>
    <ul>
      <li> TeamC1</li>
      <li> TeamC2</li>
    </ul>
    <p>We can add whatever comments we want here</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Volunteer Coordinators </h3>
    <ul>
      <li> VC1</li>
      <li> VC2</li>
    </ul>
    <p>We can add whatever comments we want here</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
